* {
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    margin: 0px;   
}

/* title styling */
.title {
    font-family: Merriweather, serif;
    font-size: 4vw;
    color: #1976d2;
    display: flex;
    justify-content: center;
    margin: 30px;
    text-shadow: 2px 2px #243148;
}

/* all paragraph styling */
p {
    margin: 20px;
    text-align: justify;
}

.paragraphWithIframe {
    display: flex;
}

.paragraphWithIframe iframe {
    margin: 20px;
}

/* slide styling */
.slider {
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin: 20px auto; 
}

.slides {
    width: 500%;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 600px;
    height: 350px;
}

.navigation {
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.navigationBtn {
    border: 2px solid #243148;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigationBtn:hover{
    background-color: #243148;
}

.navigationBtn:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* footer styling */
footer {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: end;
    margin: 50px auto 0px;
    border-top: 1px solid #243148;
}

footer small {
    margin-top: 20px;
    margin-right: 20px;
}

/* responsive design */
@media only screen and (max-width: 700px) {
    p, .paragraphWithIframe iframe {
        margin: 5px;
    }

    .paragraphWithIframe {
        display: flex;
        flex-direction: column;
    }

    .slider {
        width: 400px;
        height: 250px;
    }

    .slide img {
        width: 400px;
        height: 250px;
    }
    
    .navigation {
        width: 400px;
        height: 250px;
    }
    
}

@media only screen and (max-width: 436px) {
    p, .paragraphWithIframe iframe {
        margin: 0px;
    }

    .paragraphWithIframe iframe {
        margin: 0px;
    }

    .slider {
        width: 300px;
        height: 150px;
    }

    .slide img {
        width: 300px;
        height: 150px;
    }
    
    .navigation {
        width: 300px;
        height: 150px;
    }
}

@media only screen and (max-width: 356px) {

    .slider {
        width: 200px;
        height: 100px;
    }

    .slide img {
        width: 200px;
        height: 100px;
    }
    
    .navigation {
        width: 200px;
        height: 100px;
    }
}












