* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.instagram_page {
    background-color: #FAFAFA;
    padding-top: 50px;
}
/* input block */
.input-container, .sign-up {
    width: 350px;
    margin: 0px auto 10px auto;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

.input-container {
    height: 412px;
    padding: 15px 0px;    
}

.title  a {
    text-decoration: none;
    margin-left: 15%;
    margin-right: 15%;
}

.title a img {
    width: 240px;
    height: 116px;
}

form input {
    width: 260px;
    height: 40px;
    margin: 5px 12%;
    border: 1px solid  #DBDBDB;
    border-radius: 2px;
    background-color: #FAFAFA;
    color: #BFBCAD;
    font-size: 12px;
}

.input_text {
    padding-left: 10px;
}

.submit {
    color: #FFFFFF;
    background-color: #B2DFFC;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}


.horizontal_items {
    width: 100%;
    height: 20px;
    padding-left: 42px;
}


.horizontal_item1, .horizontal_item3 {
    width: 106px;
    display: inline-block;
    color: #DBDBDB;
    vertical-align: middle;  
}

.horizontal_item2 {
    width: 30px;
    display: inline-block;
    margin: 0px;
    margin-left: 10px;
    padding-top: 10px;
    color: #808080;
    font-size: 14px;
    font-weight: bold;
}

/* Facebook links */
.facebook-links {
    margin-top: 30px;
    padding-left: 85px;
}

.facebook-svg {
   width: 20px;
   margin-right: 5px;
}

.facebook-links a {
    text-decoration: none;
    vertical-align: middle;
}

.text-facebook {
    font-weight: bold;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #385085;
    font-size: 16px;
}
/* forgot password block */
.forgot-password {
    margin-top: 18px;
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
    color: #385085;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
}
/* signup block */
.sign-up {
    height: 63px;
    margin-top: 10px;
    text-align: center;
}

.sign-up p {
    display: inline-block;
    margin-top: 22px;
    font-size: 14px;
}

.sign-up a {
    text-decoration: none;
    font-weight: bold;
    color: #0095F6;
    font-size: 14px;
}

p {
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}