@import "./variables.scss";

@mixin contentInCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@mixin contentInColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@mixin titleStyle {
    font-size: $titleSize;
    font-family: $fontFamilyTexts;
    color: $fontsColor;
    text-align: center;
}
@mixin fieldStyles {
    height: 40px;
    width: 250px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid $borderBottomColor;
    font-size: $textSize;
    font-family: $fontFamilyTexts;
    color: $fontsColor;
    transition-duration: 1s;
    &:hover {
        transition-duration: 1s;
        cursor: pointer;
        border-bottom: 1px solid $hoverColor;
    }
}
@mixin buttonStyles {
    width: 80px;
    height: 30px;
    font-size: $textSize;
    font-family: $fontFamilyTexts;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    color: $textColor;
    background-color: $buttonBackgoundColor;
    cursor: pointer;
    transition-duration: 1s;
    &:hover{
        transition-duration: 1s;
        background-color: $buttonHoverColor;
    }
}
