//fonts
$fontFamilyTexts: Lucia , sans-serif;
$textSize: 14px;
$titleSize: 25px;
$navbarFontSize: 20px;

//colors
$pageColor: #FFF;
$fontsColor: rgb(53, 48, 48);
$textColor: #FFF;
$hoverColor: rgb(15, 89, 226);
$borderBottomColor: #d1d1d1;
$buttonBackgoundColor: rgb(121, 121, 209);
$buttonHoverColor: green;


