@import './_variables.scss';
@import './_mixins.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.signUpWrapper {
    height: 100vh;
    width: 100%;
    padding-top: 150px;
    @include contentInColumn;
    background-color: $pageColor;
    .signUpTitle {
        @include titleStyle;
    }
    .signUpBody {
        width: 100%;
        @include contentInCenter;
        gap: 40px;
        .svgContainer {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .signUpImg {
                width: 250px;
            }
        }
        .fieldsContainer {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .signUpFields {
                @include contentInColumn;
                .signUpField {
                    @include fieldStyles;
                }
                .errorSendContainer{
                    @include contentInColumn;
                    gap: 10px;
                    .errorField {
                        height: 12px;
                        margin: 0px;
                        padding: 0px;
                        font-size: $textSize;
                        color: red;
                    }
                    .signUpButton {
                    @include buttonStyles;
                    }
                }
            }
        }
    }
}