*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.situation1, .situation2 {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.situation1{
    background-image: url(./images//362-3624827_boy-sprites.png);
    background-position: 1087px -350px;
}

.situation2{
    background-image: url(./images//362-3624827_boy-sprites.png);
    background-position: 1210px -180px;
}