* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --font-size: 16px;
    --button-height: 38px;
    --botton-border-radius: 4px;
    --background-color-bottons-inputs: #000;
    --text-color: #000;
    --color: #fff;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff;
    font-family: Suisse Intl, sans-serif;
}
.containerAddOrders {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.componentAddOrders {
    width: 80%;
}
h1 {
    color: var(--text-color);
}
.componentAddOrders label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
}
.componentAddOrders label div {
    font-size: var(--font-size);
    width: 90%;
    display: flex;
    justify-content: space-between;
}
/* .addOrder, .reset {
    margin-top: 15px;
} */
.showTextsContainer {
    width: 40%;
    height: 600px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
}
.showTextsContainer div {
    width: 90%;
    row-gap: 20px;
}

.textContainer {
    display:flex;
    flex-direction: column;
}
.showTextsContainer p {
    height: 150px;
    width: 90%;
    padding: 15px;
    row-gap: 50px;
    font-size: var(--font-size);
    color: var(--text-color);
    border: 1px solid var(--background-color-bottons-inputs);
    border-radius: var(--botton-border-radius); 
}
.addResetOrder {
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 50px;
}
.addOrder, .reset, .showTextsButtons button {
    height: var(--button-height);
    width: 120px;
    font-size: var(--font-size);
    background-color: var(--background-color-bottons-inputs);
    color: var(--color);
    border-radius: var(--botton-border-radius);
    border: 1px solid var(--color); 
    cursor: pointer;
    outline: none;
    vertical-align: middle;
}
.showTextsButtons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

