* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-direction: column;
    background-color: #000;
}
#title {
    height: 80px;
    width: 100%;
    background-color: #000;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    position: fixed;
    box-shadow: 1px 1px 2px gray;
    z-index: 30;
}
#loaderContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color:#fff;
}
#loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f1f1f1;;
    border-top: 5px solid rgb(55, 50, 50);
    animation: animateSpiner 1s linear infinite;
}
@keyframes animateSpiner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#wrapper {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-family: Suisse Intl, sans-serif;
    position: relative;
}
#itemContainer {
    width: 30%;
    height: 470px;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 2px gray;
}
#name {
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#beersList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    position: relative;
    font-size: 16px;
}
#description {
    text-align: justify;
    height: 55px;
    overflow-y: hidden;
    position: absolute;
    margin-top: 250px;
    transition-duration: 3s;
}
#description:hover {
    overflow-y: visible;
    z-index: 10;
    background-color: #fff;
    height: 75%;
    margin-top: 0px;
    opacity: 0.8;
    transition-duration: 2s;
}
img {
    height: 200px;
}
#firstBrewed {
    margin-top: 100px;
}
#buttonShowMore {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 120px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1100px) {
    #itemContainer {
        width: 45%;
    }
}
@media only screen and (max-width: 867px) {
    #itemContainer {
        width: 60%;
    }
}
@media only screen and (max-width: 600px) {
    #itemContainer {
        width: 80%;
    }
}
@media only screen and (max-width: 380px) {
    #itemContainer {
        width: 90%;
    }
}






