* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#formCalcPercentage, #formCalcPercentageButtom {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto; 
    background-color: #E6E6E6;
    border-radius: 6px;
}

.formLeftContainer, .formRightContainer {
    display: flex;
    gap: 5px;
}


input {
    width: 60px;
    height: 35px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    cursor: text;
}

p, input {
    line-height: 35px;
    vertical-align: middle;
    font-size: 18px;
    color: rgb(77, 75, 75);
}

.submit {
    color:#fff;
    background-color: #416691;
    font-weight: bold;
    width: 120px;
    font-size: 14px;
    cursor: pointer;
}












