* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}
#currenciesContainer {
    width: 150px;
    outline: none;
}