.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  border: 1px solid #ffcdd2;
  background-image: url("../images/background-image.png");
}
.home .itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 60%;
  border: 1px solid #ffcdd2;
  box-shadow: 1px 5px 3px 1px #d3aeae;
  border-radius: 8px;
  background-color: beige;
}
@media screen and (max-width: 1080px) {
  .home .itemContainer {
    width: 90%;
  }
}
@media screen and (max-width: 867px) {
  .home .itemContainer {
    width: 100%;
  }
}
.home .itemContainer .itemTitle {
  font-size: 30px;
  margin-top: 30px;
  color: #964e4e;
}
.home .itemContainer .itemImage {
  width: 40%;
  cursor: pointer;
  transition: transform 0.9s;
}
.home .itemContainer .itemImage:hover {
  transform: scale(1.4);
  transition: transform 0.9s;
}
@media screen and (max-width: 687px) {
  .home .itemContainer .itemImage {
    width: 60%;
  }
}
@media screen and (max-width: 451px) {
  .home .itemContainer .itemImage {
    width: 90%;
  }
}
.home .itemContainer .itemContent {
  width: 60%;
  text-align: center;
}
.home .itemContainer .youtubeVideo {
  width: 560px;
  height: 315px;
}
@media screen and (max-width: 620px) {
  .home .itemContainer .youtubeVideo {
    width: 75%;
    height: auto;
  }
}
@media screen and (max-width: 456px) {
  .home .itemContainer .youtubeVideo {
    width: 90%;
    height: auto;
  }
}
.home .itemContainer .opinions {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 445px) {
  .home .itemContainer .opinions {
    width: 90%;
  }
}
.home .itemContainer .opinions .super {
  color: #ffcdd2;
  font-size: 45px;
  align-self: stretch;
  cursor: pointer;
  transition: transform 0.9s;
}
.home .itemContainer .opinions .super:hover {
  transform: scale(1.4);
  transition: transform 0.9s;
}
.home .itemContainer .opinions .addComments {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.home .itemContainer .opinions .addComments .commentFild {
  width: 100%;
  height: 60px;
}
.home .itemContainer .opinions .addComments .commentBtn {
  height: 35px;
  width: 90px;
  height: 35px;
  border: 1px solid #d3aeae;
  border-radius: 8px;
  font-size: 18px;
  background-color: #964e4e;
  color: #fcf7fc;
  transition-duration: 1s;
}
.home .itemContainer .opinions .addComments .commentBtn:hover {
  color: #964e4e;
  background-color: #fcf7fc;
  cursor: pointer;
  transition-duration: 1s;
}
.home .itemContainer .commentsList {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 12px;
  margin-bottom: 30px;
}
.home .itemContainer .commentsList .commentsItem {
  list-style: none;
  border: 1px solid #ffcdd2;
  box-shadow: 1px 5px 3px 1px #d3aeae;
  border-radius: 8px;
  padding: 10px 20px;
}/*# sourceMappingURL=home.css.map */