* {
    margin: 0px;
    box-sizing: border-box;
}

.body-block {
    display: flex;
    justify-content: space-around; 
    background-color: bisque;
    height: 900px;
}
/* Ordered and unordered lists table's styles.*/
.lists-block,.tables-block {
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
    margin: 5px;
    margin-bottom: 20px;
}

.delete-list-styles {
    list-style-type: none;
}

/*This is container tables countries */

table, td, th{
    border: 1px solid gray; 
}

table td, table th{
    text-align: center;
    padding: 5px;
}

tr td:nth-child(2) {
    cursor: pointer;
}

.col-populations{
    background-color: #f17373;
}
/* Numeric table's styles.*/
.numeric-table {
    margin-top: 100px;
    border-collapse: collapse;
}

.numeric-table th, .numeric-table td {
    border: 2px solid gray; 
    width: 80px;
}
/* Males-females table's styles.*/
.males-females-teble {
    border: 2px solid gray; 
}

.males-females-teble th, .males-females-teble  td {
    border: 1px solid gray; 
}
