* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 100px; 
    background-color: lightyellow;
    font-family: Suisse Intl, sans-serif;
}
#boxParent {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border: 1px solid red;
}
#box {
    width: 100%;
    height: 100%;
    z-index: 1;
} 
.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}
.timerContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsContainer {
    display: flex;
    column-gap: 10px;
}
#minuteInput, button {
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: midnightblue;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
    column-gap: 30;
    text-align: center;
}
#minuteInput {
    width: 120px;
    background-color:#fff;
    color:midnightblue;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px gainsboro;
}
#seconde, #milliseconde, #minute {
    width: 70px;
    height: 95px;
    color: midnightblue;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
}
#milliseconde {
    width: 100px;
}
.timesContainer{
    display: flex;
    justify-content:space-around;
    column-gap: 5px;
}
.timesContainer p {
    position: relative;
    padding: 0px;
    text-align: right;
}
.sub {
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 0px;
    color: midnightblue;
}


