@import url('https://fonts.cdnfonts.com/css/lucia-bt');

// colors
$light-color: #FFFFFF;
$middle-color: #ea6683;
$dark-color: #000;
$hover-color: rgb(255, 145, 0);
$accent-color: #ea6683;
$mainColor: #F0B340;
$textsColor: #262626;
$textHoverColor: #FFFFFF;

//fonts
$fontFamilyTexts: Lucia , sans-serif;
$postTitles: 22px;
$textSize: 18px;
$datesSizes: 14px;

// images
$login-registration-bg-image: url('../images/background-image.png');




